/.metadata/
/*.log/
/*.db/
/SQLDemo_Caroline.java/
CS320_LibraryExample_Lab02_2025/derby.log
CS320_LibraryExample_Lab02_2025/derby.log
CS320_LibraryExample_Lab02_2025/derby.log
CS320_LibraryExample_Lab02_2025/derby.log
CS320_LibraryExample_Lab06_2025/derby.log
CS320_LibraryExample_Lab02_2025/derby.log
